<table class=”table”>
    <thead>
        <tr>
            <th>Id</th>            
        </tr>
    </thead>
    <tbody *ngFor='let user of users | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
      }'>
        <tr>
            <td>{{user.login}}</td>
        </tr>
    </tbody>
</table>
<div>
    <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
        (pageChange)="handlePageChange($event)"></pagination-controls>
</div>
<select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
    </option>
</select>